* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
}
/* header section */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 130px;
  align-items: center;
  height: 100px;
}
.nav-title {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 700;
}
.nav-page {
  display: flex;
  gap: 30px;
}
.nav-page li a {
  font-size: 16px;
  color: #3a3a3a;
  font-weight: 600;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85%;
  margin: auto;
}
.header h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
  color: #3a3a3a;
}
.header p {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 24px;
}
.hero-btn {
  padding: 10px 24px;
  gap: 8px;
  border-radius: 41px;
  background: #e02c6d;
  border: none;
  color: white;
}
/* brand logo section */
.brand-logo {
  display: flex;
  width: 75%;
  margin: auto;
  margin-top: 50px;
  justify-content: space-around;
}
/* Collection section  */

.collection-container {
  width: 70%;
  margin: auto;
}
.collection-container h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  margin: 100px 0 50px 0;
}
.collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.collection-box {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  width: 329px;
  height: 476px;
  padding: 15px;
  margin-bottom: 30px;
}
.collection-box h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  color: #18191f;
  margin-top: 16px;
  margin-bottom: 6px;
}
.collection-box h5 {
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  color: #18191f;
  margin-top: 6px;
  margin-bottom: 5px;
}
.rating {
  display: flex;
  gap: 10px;
}
.rating i {
  color: #fb8200;
}
.rating span {
  font-size: 14px;
  font-weight: 700;
}

p {
  font-size: 14px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0.252px;
}
.collection-more{
  text-align: right;
  width: 1020px;
  margin: auto;
  color: rgba(224, 44, 109, 0.87);

font-size: 16px;

font-weight: 700;
margin-bottom: 100px;
}
/* products-section */
.products-section{
  width: 75%;
  margin: auto;
}
.products{
  display: flex;
  gap: 95px;
  align-items: center;
  margin-bottom: 130px;
}
.products-text h2{
  font-size: 38px;
  font-weight: 700;
  line-height: 60px;
}
.products-text p{
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  color: #6C6C6C;
  margin: 16px 0 26px 0;
}
.products-text button{
padding: 10px 24px;
background: #E02C6D;
font-size: 16px;
font-weight: 700;
color: white;
border: none;
}
/* footer */
.footer{
  background: black;
  width: 100%;
  height: 239px;
  color: #fff;
  text-align: center;
 padding-top:100px ;
}




@media screen and (max-width: 576px) {
  .header , .products{
    flex-direction: column-reverse;
    text-align: center;
  }
  .header img {
    width: 202px;
    height: 190px;
  }
  .nav,
  .brand-logo {
    flex-wrap: wrap;
    /* flex-direction: column; */
    gap: 20px;
    text-align: center;
    width: 90%;
  }
  .collection{
    grid-template-columns: repeat(1,1fr);
  }
  .collection-container{
    width: 85%;
    margin: auto;
  }
  .hide{
    display: none;
  }
}

